:root {
  --bg-color-bright: #eeeff1;
  --bg-color-dark: #34547a;
  --color-clear: #ffffff;
  --color-text-bright: #727272;
  --color-text-dark: #000000;
  --container-small: 540px;
  --container-big: 1140px;
  --text-size-small: 16px;
  --container-align-center: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--text-size-small);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--container-big);
  margin: var(--container-align-center);
  padding: 0 20px;
}

.header {
  background-color: var(--bg-color-bright);
  min-height: 700px;
  padding-top: 80px;
}

.header-navbar {
  margin-bottom: 40px;
}

.header-navbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 42px;
}

.header-navbar__link {
  letter-spacing: 0.1em;
  color: var(--color-text-dark);
}

.header-navbar__link.active {
  font-weight: 500;
  color: var(--bg-color-dark);
}

.header-content {
  max-width: var(--container-small);
}

.header-content__title {
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 150px;
  font-size: 48px;
  line-height: 79px;
  color: var(--color-text-dark);
}

.header-content__description {
  margin-bottom: 57px;
  line-height: 24.75px;
  color: var(--color-text-bright);
}

.header-content__link {
  width: 225px;
  min-height: 65px;
  background-color: var(--bg-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--color-clear);
}

.about {
  background: var(--color-clear);
  padding: 112px 0 92px;
}

.about__container {
  max-width: 580px;
  padding: 0 20px;
  margin: var(--container-align-center);
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: var(--color-text-dark);
  margin-bottom: 39px;
}

.about__description {
  line-height: 26px;
  text-align: center;
  color: var(--color-text-bright);
}

.experience {
  min-height: 250px;
  background: var(--bg-color-dark);
  display: flex;
  align-items: center;
  color: var(--color-clear);
}

.container--experience {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.experience-item__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.experience-item__name {
  line-height: 26px;
}

.experience-item {
  display: flex;
  gap: 20px;
}

.process {
  padding: 100px 0 100px;
  background: var(--bg-color-bright);
}

.process__title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.process__description {
  line-height: 26px;
  text-align: center;
  color: var(--color-text-bright);
  margin-bottom: 50px;
}

.process__container {
  max-width: var(--container-small);
  margin: var(--container-align-center);
}

.process__video {
  width: 100%;
  height: 600px;
  border: none;
}

.footer {
  min-height: 150px;
  background: var(--bg-color-dark);
  color: var(--color-clear);
  padding: 50px 0 44px;
}

.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer__copyright {
  font-size: 13px;
  line-height: 21px;
}